@using WebApp.Models.Helpers;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.CtrlTblModel(viewName: "vListarLocalizaciones" , id: "tblLocalizaciones" , title: "Localizaciones" , columnsTitle: "Nombre, Provincia,Cantón,Distrito,Otras señas,Latitud,Longitud" ,
     ColumnsDataName: "IdLocalizacion,Provincia,Canton,Distrito,Latitud,Longitud,OtrasSennas,Estado,IdUsuario,Nombre" , colorHeader: "red")

<div class="card border-secondary" style="margin-top: 50px; display: block" id="listaLocalizaciones">
    <div class="card-header">
        <div class="row pull-right">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                @Html.CtrlButton(viewName: "vRegistrarLocalizacion" , id: "btnCrear" , label: "Registrar" , buttonType: "success")
                @Html.CtrlButton(viewName: "vListarLocalizaciones" , id: "btnUpdate" , label: "Guardar cambios" , buttonType: "info")
                @Html.CtrlButton(viewName: "vListarLocalizaciones" , id: "btnDelete" , label: "Eliminar" , buttonType: "danger")
                @Html.CtrlButton(viewName: "vListarLocalizaciones" , id: "btnCancel" , label: "Cancelar" , buttonType: "danger")
            </div>
        </div>
    </div>
</div>
<div class="card-body">
    <div class="row">
        <div class="col-md-6">
            <form id="frmEditar">
                <div class="row">
                    <div class="col-md-12">
                        @Html.CtrlInputRequeridedModel(id: "txtNombre" , type: "text" , label: "Nombre: " , columnDataName: "Nombre" , ariaDescribedby: "nombreLoc" , idSmall: "nombreLoc" , pattern: @"([A-Za-z .]{3,})\w+")
                        @Html.CtrlListModel(id: "sltProvincias" , label: "Provincia" , columnDataName: "Provincia" , ariaDescribeby: "provincia" , idSmall: "provincia")
                        @Html.CtrlListModel(id: "sltCantones" , label: "Cantón" , columnDataName: "Canton" , ariaDescribeby: "canton" , idSmall: "canton")
                        @Html.CtrlListModel(id: "sltDistritos" , label: "Distrito" , columnDataName: "Distrito" , ariaDescribeby: "distrito" , idSmall: "distrito")
                        @Html.CtrlInputCptchaModelCtrl(id: "txtOtrasSennas" , type: "text" , label: "Otras señas: " , columnDataName: "OtrasSennas" , ariaDescribedby: "otrassennas" , idSmall: "otrassennas" , textSmall: "Este dato es requerido." , textSpan: "")
                        @Html.CtrlInputRequeridedModel(id: "txtLatitud" , type: "number" , label: "Latitud: " , columnDataName: "Latitud" , ariaDescribedby: "latitud" , idSmall: "latitud" , pattern: @"[0-9]")
                        @Html.CtrlInputRequeridedModel(id: "txtLongitud" , type: "number" , label: "Longitud: " , columnDataName: "Longitud" , ariaDescribedby: "longitud" , idSmall: "longitud" , pattern: @"[0-9]")
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <label>Ubicación:</label>
            <div id='map' style='width: 100%; height: 80%;'></div>
        </div>
    </div>
    @Html.CtrlModalModel(id: "eliminar" , title: "Confirmación" , idParrafo: "1" , contenidoParrafo: "¿Está seguro  que desea eliminar este elemento?" , viewName: "" , idModal: "ready" , label: "Aceptar")
</div>
@section Scripts {
    <script src="~/Scripts/Views/vListarLocalizaciones.js"></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
}