@using WebApp.Models.Helpers;

<script src="~/Scripts/Views/vRecuperarContrasenna.js"></script>
@{
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
}

@section Styles {
    <link href="@Url.Content("~/Content/Views/")vTipoRegistro.css" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/Views/")cardsLogins.css" rel="stylesheet" type="text/css">
}

<div class="row">
  
        <div class="col-md-5"></div>
        <div class="card mt-6" style="width: 18rem;">
            <div class="card-header"><h5 class="card-title text-center">Recuperar contraseña</h5></div>
            <div class="card-block">
                <div class="card-text " style="font-size: large ; padding: 22px">
                    <form id="frmRecuperarContrasenna">
                        @Html.CtrlInput(id: "txtCedula", type: "text", label: "Cédula:", placeHolder: "Ingrese cédula", columnDataName: "Cedula", IsRequired: "required")
                        <div id="divMsjInputCedula" class="invalid-feedback divFeedback"></div>
                    </form>
                </div>               

            </div>
            <div class="card-block text-center" style="padding: 22px">
                @Html.CtrlButton(viewName: "vRecuperarContrasenna", id: "btnRecuperar", label: "Enviar", onClickFunction: "RecuperarContrasenna",
          dataToggle: "modal", dataTarget: "#modalInfoRecuperarContrasenna", buttonType:"btn")
            </div>
        </div>
        <div class="col-md-5"></div>
 
 
</div>

@*<div class="login">
        <div class="candado">
            <h3 class="titulo">Recuperar contraseña</h3>
        </div>
        <form id="frmRecuperarContrasenna">
            @Html.CtrlInput(id: "txtCedula", type: "text", label: "Cédula", placeHolder: "Ingrese cédula", columnDataName: "Cedula", IsRequired: "required")
            <div id="divMsjInputCedula" class="invalid-feedback divFeedback"></div>
        </form>
        @Html.CtrlButton(viewName: "vRecuperarContrasenna", id: "btnRecuperar", label: "Enviar", onClickFunction: "RecuperarContrasenna",
       dataToggle: "modal", dataTarget: "#modalInfoRecuperarContrasenna")
        <hr class="hrLogin" />
        <div class="divSpan">
        </div>
    </div>*@

@Html.CtrlModalModel(idModal: "modalInfoRecuperarContrasenna", title: "Confirmación",
    idParrafo: "parrafoDialogo", viewName: "vRecuperarContrasenna", id: "btnConfirmar", label: "Aceptar", onClickFunction: "Confirmar", buttonType: "info")

@*<style>
        .divFeedback {
            padding-left: 15px;
        }

        small {
            text-align: center;
            margin-bottom: 10px !important;
        }

        .imgLog {
            height: 57%;
            width: 20%;
            display: block;
            margin: 0 auto;
            margin-top: 5%;
        }

        .hrLogin {
            margin-top: 1rem;
            margin-bottom: 1rem;
            border: 0;
            border-top: 1px solid #5bc0de;
        }

        hr {
            margin-top: 1rem;
            margin-bottom: 1rem;
            border: 0;
            border-top: 1px solid #375a7f;
        }

        .divSpan {
            text-align: center;
            color: rgb(49, 65, 83);
        }

        body {
            padding-top: 5px;
            padding-bottom: 5px;
            background-color: #e9ecef;
        }

        .login {
            width: 30%;
            height: 400px;
            margin-top: 5px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 50px;
            padding-bottom: 10px;
            background-color: white;
            border-radius: 7px;
            box-shadow: 0 1px 7px rgba(0, 0, 0, 0.45);
        }

        label {
            margin-left: 15px;
        }

        span {
            margin: 0;
            padding: 0;
            border: 0;
            font: inherit;
            color: #1C2EB7;
            vertical-align: central;
            display: table-cell;
            vertical-align: middle;
        }

        .candado {
            width: 100%;
            height: 60px;
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
            background-color: #375a7f;
            color: white;
            text-align: center;
            font-size: 40px;
            margin-bottom: 20px;
        }

        .titulo {
            display: block;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            font-size: 20px;
            text-align: center;
            color: white;
            margin: 0 auto;
            padding: 10px 0;
        }

            .titulo:hover {
                color: white;
            }

        input {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            display: block !important;
            margin: 0 auto !important;
            margin-bottom: 10px !important;
            margin-left: 5px;
            width: 375px !important;
            height: 40px !important;
            outline: none;
            border: none;
            margin-left: 15px !important;
            border-bottom: 1px solid #F9AA33;
        }

        #btnRecuperar {
            display: block;
            margin: 0 auto !important;
            margin-top: 50px;
            padding: 15px 95px;
            border: none;
            border-radius: 7px;
            outline-color: #F9AA33;
            cursor: pointer;
            color: #fff;
            background-color: #17a2b8;
            border-color: #17a2b8;
        }

        .login a {
            display: block;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            font-size: 15px;
            text-align: center;
            text-decoration: none;
            margin-top: 15px;
            padding: 0px 58px;
            color: #ffc107;
        }

            .login a:hover {
                color: #1C2EB7;
            }

        .errorInput {
            border: 1px solid #ED4C67;
        }
    </style>*@
@*@section Scripts {
        <script src="~/Scripts/Views/vRecuperarContrasenna.js"></script>
        <script>
            'use strict';
        </script>
    }*@


