@using WebApp.Models.Helpers;
<script src="~/Scripts/Views/vListarSolicitudesRegistro.js"><</script>


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.CtrlTable(viewName: "vListarSolicitudesRegistro", id: "tblSolicitudesRegistro", title: "Lista de solicitudes de registro",
    columnsTitle: "Cedula, Nombre,Tipo ,Telefono, Correo, Nombre Comercial",
    ColumnsDataName: "Cedula,Nombre,TipoCedulaComercial,Telefono,Correo,NombreComercial",
    onSelectFunction: "BindFieldsOferente", colorHeader: "white")

<div class="card border-secondary" style="margin-top: 50px;">
    <div class="card-header">
        <div class="row pull-right">
            <div class="col-md-8">Informacion Detallada</div>
            <div class="col-md-4">
                @Html.CtrlButton(viewName: "vListarSolicitudesRegistro", id: "btnAceptarSolicitud", label: "Aceptar", onClickFunction: "AceptarSolicitud", buttonType: "success")
                @Html.CtrlButton(viewName: "vListarSolicitudesRegistro", id: "btnDelete", label: "Rechazar", onClickFunction: "RechazarSolicitud", buttonType: "danger")
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="bs-component">
                    <form id="frmInformacionSolicitud">
                        <h2>Datos del usuario</h2>
                        @Html.CtrlInputOferente(id: "txtTipoOferente", type: "text", label: "Tipo oferente", columnDataName: "TipoCedulaComercial", isRequired: true, isReadOnly: true)
                        @Html.CtrlInputOferente(id: "txtNombre", type: "text", label: "Nombre", columnDataName: "Nombre", isRequired: true, isReadOnly: true)
                        @Html.CtrlInputOferente(id: "txtApellido1", type: "text", label: "Primer apellido", columnDataName: "Apellido1", isRequired: true, isReadOnly: true)
                        @Html.CtrlInputOferente(id: "txtApellido2", type: "text", label: "Segundo apellido", columnDataName: "Apellido2", isReadOnly: true)
                        @Html.CtrlInputOferente(id: "txtCedula", type: "text", label: "Cédula", columnDataName: "Cedula", isRequired: true, isReadOnly: true)
                        @Html.CtrlInputOferente(id: "txtTipoCedula", type: "text", label: "Tipo de cédula", columnDataName: "TipoCedula", isRequired: true, isReadOnly: true)
                        @Html.CtrlInputOferente(id: "txtGenero", type: "text", label: "Género", columnDataName: "Genero", isReadOnly: true)
                        @Html.CtrlInputOferente(id: "txtCorreo", type: "text", label: "Correo", columnDataName: "Correo", isRequired: true, isReadOnly: true)
                        @Html.CtrlInputOferente(id: "txtTelefono", type: "number", label: "Teléfono", columnDataName: "Telefono", isRequired: true, isReadOnly: true)
                        @Html.CtrlInputOferente(id: "txtPaisNacimiento", type: "text", label: "País de nacimiento", columnDataName: "PaisNacimiento", isReadOnly: true)
                        @Html.CtrlInputOferente(id: "txtFecNacimiento", type: "text", label: "Fecha de nacimiento", columnDataName: "FecNacimiento", isRequired: true, isReadOnly: true)
                        <h2>Datos de la empresa</h2>
                        @Html.CtrlInputOferente(id: "txtNombreComercial", type: "text", label: "Nombre comercial", columnDataName: "NombreComercial", isRequired: true, isReadOnly: true)
                        @Html.CtrlInputOferente(id: "txtRazonSocial", type: "text", label: "Razón social", columnDataName: "RazonSocial", isRequired: true, isReadOnly: true)
                        @Html.CtrlInputOferente(id: "txtCedulaJuridica", type: "text", label: "Cédula Jurídica", columnDataName: "CedulaJuridica", isReadOnly: true)
                        @Html.CtrlInputOferente(id: "txtFecCreacion", type: "text", label: "Fecha de creación", columnDataName: "FecCreacion", isRequired: true, isReadOnly: true)
                        @Html.CtrlTextArea(id: "txtDescripcion", label: "Descripción", columnDataName: "Descripcion", isRequired: true, isReadOnly: true, ariaDescribedby: "", idSmall: "idDesc", maxlength: "300", rows: "5")


                        <h2>Datos de la localización</h2>
                        @Html.CtrlInputOferente(id: "txtNombreLocalizacion", type: "text", label: "Nombre de la localización", columnDataName: "NombreLocalizacion", isRequired: true, isReadOnly: true)
                        @Html.CtrlInputOferente(id: "txtLatitud", type: "text", label: "Latitud", columnDataName: "Latitud", isRequired: true, isReadOnly: true)
                        @Html.CtrlInputOferente(id: "txtLongitud", type: "text", label: "Longitud", columnDataName: "Longitud", isRequired: true, isReadOnly: true)
                        @Html.CtrlInputOferente(id: "txtProvincia", type: "text", label: "Provincia", columnDataName: "Provincia", isRequired: true, isReadOnly: true)
                        @Html.CtrlInputOferente(id: "txtCanton", type: "text", label: "Cantón", columnDataName: "Canton", isRequired: true, isReadOnly: true)
                        @Html.CtrlInputOferente(id: "txtDistrito", type: "text", label: "Distrito", columnDataName: "Distrito", isRequired: true, isReadOnly: true)
                        @Html.CtrlInputOferente(id: "txtOtrasSennas", type: "text", label: "Otras Señas", columnDataName: "OtrasSennas", isRequired: true, isReadOnly: true)
                        <h2>Documentos del usuario</h2>
                        @Html.CtrlADocModel(viewName: "", id: "IdDocumento1", label: "<i>" + "</i> <span>Curríulum</span>", onClickFunction: "")
                        @Html.CtrlADocModel(viewName: "", id: "IdDocumento2", label: "<i>" + "</i> <span>Hoja de Delincuencia</span>", onClickFunction: "")


                    </form>
                    <script>$('#idDesc').css('display', 'none');</script>
                </div>
            </div>
        </div>
    </div>
</div>

